/* ---------------header---------------- */

.myHeader {
    background-image: url("assets/hero_rocks.jpg");
    font-family: cursive;
    font-size:1.5em;
     text-shadow: 2px 2px 8px white;
}



#name{
    padding-left: 35px;
    padding-top: 15px;
    }

header .nav a {
    color:black;
     text-shadow: 0 0px 10px grey;
}

li.nav-item{
    margin: 1% 2% 0 2%;
    border-top:solid;
    border-bottom:solid;
    border-radius: 30px;
    background-color:white;
}

/* ---------------article/about---------------- */

.aboutMe{
    margin-top: 5%;
}


#about {
    font-family: cursive;
    font-size: 2.5em;
}

#about .me2 {
    font-family: fantasy;
    font-size: 2.5em;

}

div.copy{
    padding-right: 65px;
}


#about p {
    position: absolute;
    padding-top: 1%;
}

img.me {
    /* min-width: 400px;
    height: 400px; */
    filter: drop-shadow(10px 5px 3px);
}

.responsive {
    max-width: 100% !important;
    height: auto !important;
}

/* ---------------work---------------- */

div.row.allWork{
    margin-top: 5%;
}
div.row.allWork header{
    background-color: darkgray;
    font-family:cursive;
    font-size:1.5em;
}


.work {
    font-family:cursive;
    font-size: 2.5em;
}


img#week_1 {
    max-width: 100%;
    max-height: inherit;

}

figure.card.col-3.moreWork{
    margin: 1%;
}

img#week_2 {
    max-width: 100%;
    max-height: inherit;
}

img#week_3 {
    max-width: 100%;
    max-height: inherit;
}

.secondCard{
    justify-content: space-evenly;
}

body > main > div.row.allWork > div.row.workCon{
    margin-top:2%
}

/*---------------footer---------------- */

footer {
    background-image: url("assets/hero_rocks.jpg");
    font-family: cursive;
    font-size:1.5em;
    text-shadow: 2px 2px 8px white;
    
}

.nav-link {
    display: inline;
}