* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("assets/lake_superior_beach_rocks.JPG");
    background-size: 100%;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    padding: 10px;
}

article img {
    width: 25%;
}

article img .me{
    max-width: 150px;
    width: 25%;
    margin-left: 50px;
}

.hello {
    display: flex;
    justify-content: space-evenly;
}

.hello p {
    justify-content: flex-start;
    color:black;
    margin-left: 10%;

}

.name {
    color: rgb(43, 43, 43);
    font-family: cursive, serif;
    font-size: 1.5em;

h2 {
    font-size: 1.5em;

}

.about {
    display: flex;
    justify-content: flex-end;
}

header {
    display: flex;
    flex-direction: row;
    background-color: slategrey;
    color: rgb(26, 26, 26)
    }

header nav {
    display: flex; 
    align-items: flex-end;
    margin: 0% 0% 20px 0%;

}

.card {
    border-style: none;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;
}
  
.card header {
    padding: 20px;
}
  
.card p {
    text-align: center;
}

.card img {
    width: 100%;
}



footer {
    background-color:slategrey;
    text-align: center;
}


/* media query change width so they split on smaller displays*/
@media screen and (max-width: 992px) {
    .card {
      width:50%;  
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .card {
      width:100%;
      }
   }
  









   * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*
body {
    background-image: url("assets/lake_superior_beach_rocks.JPG");
    background-size: 100%;
}
*/
header {
    width: 100%;
}

nav a{
    display: flex;
    justify-content: center | space-between;

}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    padding: 10px;
}

article img {
    width: 25%;
}

.about{
    display: flex;

}

.about p {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-left:25px;
    padding-right: 25px;
    color:white;
    
}

.about img {
    width: 50%
    padding: 5% 5% 5% 5%;
}

.hello {
    display: flex;
    justify-content: space-evenly, center;
    height: 600px;
}

.hello p {
    justify-content: flex-start;
    color:black;
    padding-left: 10%;
    font-size: 1.25em;

}

.name {
    color: rgb(43, 43, 43);
    font-family: cursive, serif;
    font-size: 1.5em;

h2 {
    font-size: 1.5em;

}

.card {
    border-style: none;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;
}
  
.card header {
    padding: 20px;
}
  
.card p {
    text-align: center;
}

.card img {
    width: 100%;
}


footer {
    background-color:slategrey;
    text-align: center;
}